@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}


/*navigation-styling-start*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: 0.5s;
}

header.sticky {
    background: #fff;                                                 
    padding: 20px 100px;
    box-shadow: 0 5px 20px #0000008f;
}

header .logo {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}

header.sticky .logo {
    color: #0e76a8;                                                       
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}

header.sticky ul li a {
    color: #0e76a8;                                                 
}
/*navigation-styling-end*/





/*hero-home-styling-start*/
section {
    padding: 100px;
}

.hero-home {
    position: relative;
    min-height: 100vh;
    background: #0e76a8;
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-home h2 {
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}

.hero-home h2 span {
    font-size: 1.5em;
    font-weight: 700;
}

.hero-home h3 {
    color: #fff;
    font-size: 1.5em;
    font-weight: 500;
}

#typing{
    color: #fff;
    width: 0;
    float: left;
    font-family: "Poppins";
    font-size: 1em;
    white-space: nowrap;
    animation: typing 2s steps(10) .5s infinite alternate;
    overflow: hidden;
}

#crow{
    float: left;
    color: #fff;
    font-size: 1em;
    animation: crow 0.5s linear 0s infinite alternate-reverse;

}

@keyframes typing{
    from{
        width: 0ch;
    }
    to{
        width: 20.2ch;
    }
}

@keyframes crow{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.btn {
    position: relative;
    background: #99b1d4;
    opacity: 0.9;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}

.btn:hover{
    background: #000000;
    font: #99b1d4;
}
/*hero-home-styling-end*/





/*about-section-styling-start*/
.imgIM {
    float: right;
    border-radius: 50%;                                         
    width: 450px; /* width of image (px or % or auto) */
    height: auto;
}

.content {
    display: flex;
    justify-content: space-between;
}

.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #0e76a8;
}

.heading.white {
    color: #fff;
}

.contentbox {
    padding-right: 30px;
}

.contentbox h3{
    font-size: 24px;
    margin-bottom: 10px;
}

.heading h2{
    font-weight: 600;
    font-size: 30px;
}
  
.BX01{
    min-width: 50%;
}
  
img {
    max-width: 100%;
}
/*about-section-styling-end*/





/*Skills-section-styling-start*/
.services .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.services {
    background: #0e76a8;
}

.services .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
/*Skills-section-styling-end*/





/*projects-section-styling-end*/
.card{
    border-radius: 0.25rem;
    background-color: #fff;
    border: 2px solid rgba(3, 3, 3, 0.125);
    margin-bottom: 3rem;
}
  
.card .h2, .card h2{
    margin-top: 0;
    margin-bottom: 40px;
}

.card .card-block{
    padding: 4rem;
}

@media (min-width: 992px){

    .card .card-block{
      padding: 6rem;
    }
}

.row{
    margin-left: -15px;
    margin-right: -15px;
}
  
.row:after, .row:before{
    content: " ";
    display: table;
}
  
.row:after{
    clear: both;
}

.centre-file{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.centre-file .desc{
    color: #000000;
}
  
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}

.img-thumbnail{
    padding: 4px;
    line-height: 1.58;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 80%;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
}
/*projects-section-styling-end*/





/*footer-section-styling-start*/
.contact {
    background: #0e76a8;
}

.formBx{
    min-width: 60%;
}

.formBx form{
    display: flex;
    flex-direction: column;
}
  
.formBx form h3, .contactInfo h3{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.formBx form input, .formBx form textarea{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    background: transparent;
    border: none;
    outline: none;
    background: #222;
    resize: none;
    color: #fff;
}

.formBx form input::placeholder, .formBx form textarea::placeholder {
    color: #999;
}

.formBx form textarea{
    min-height: 200px;
}

.formBx form input[type="submit"]{
    max-width: 100px;
    background: #99b1d4;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.formBx form input[type="submit"]:hover{
    background: #000000;
    font: #99b1d4;
}

.contactInfo{
    min-width: 40%;
}

.contactInfoBx{
    position: relative;
}
  
.contactInfoBx .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contactInfoBx .box .icon{
    min-width: 40px;
    padding-top: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
}
  
.contactInfoBx .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
  
.contactInfoBx .box .text h3{
    font-weight: 500;
    color: #000000;
    margin-bottom: 0;
}
  
.contactInfoBx .box .text p{
    font-weight: 300;
    color: #fff;
}
/*footer-section-styling-end*/




/*RESPONSIVENESS*/
@media (max-width: 991px){

    header, header.sticky{
      padding: 20px 50px;
      z-index: 1000;
    }

    header .menu{
      display: none;
      z-index: 999;
    }
    
    section{
      padding: 100px 50px;
    }

    .hero-home{
      padding: 150px 50px 100px;
    }

    .hero-home h2{
      font-size: 1.5em;
    }

    .hero-home h3{
      font-size: 1em;
    }

    .btn{
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
    }

    .content{
      flex-direction: column;
    }
    
    .services .content .servicesBx{
      margin: 10px;
    }
    
    .contactInfo{
      margin: 20px 0;
    }
}

  
@media (max-width: 600px){

    header, header.sticky{
      padding: 20px 20px;
    }

    section{
      padding: 100px 20px;
    }

    .hero-home{
      padding: 150px 20px 100px;
    }

}